 <section id="section-materias" class="w-50">
    <div id="header-materias" style="display: flex">
        <h2>Materias</h2>
    </div>
    <table id="tblMaterias" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Nombre</th>
                <th>Docente</th>
            </tr>
        </thead>
        <tbody>
        {% for materia in listaMaterias %}
            <tr id="tr{{ materia.id_materia }}">
                <td>{{ materia.sigla }}</td>
                <td>{{ materia.nombre }}</td>
                <td>{{ materia.docente.first_name }} {{ materia.docente.last_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>